<header>
  <div class="left-side">
    <a id="blog-name" href="../index.html">Ur<span>Blog</span></a>
    <nav>
      <a class="nav-option" href="../articles/articles.html">Articles</a>
      <a class="nav-option" href="../issues/issues.html">Issues</a>
      <a class="nav-option" href="../submitIssue/submitIssue.html"
        >Submit an Issue</a
      >
      <a class="nav-option" href="../users/users.html">Users</a>
    </nav>
  </div>
  <div class="right-side">
    <a id="login" href="../login/login.html">Login</a>
    <a id="register" href="../register/register.html">Register</a>
  </div>
</header>
