<div class="myCard">
  <img
    src="../../../assets/images/css.png"
    width="200px"
    height="auto"
    alt=""
  />
  <div>
    <p id="title">How to get away with a murderer</p>
    <div class="publish-info">
      <p id="author">BY Safwan Saigh</p>
      <p id="date">September 5, 2020</p>
    </div>
    <p id="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh ante,
      ultrices aliquet neque in, mattis laoreet arcu. Aliquam vitae enim risus.
    </p>
  </div>
</div>
