<div class="root-container">
  <form action="" [formGroup]="form" (ngSubmit)="onSubmit()">
    <p id="title">Create an Account</p>

    <div class="name">
      <input
        id="fname"
        placeholder="First Name"
        formControlName="firstName"
        type="text"
        required
        autocomplete="off"
        required
      />
      <input
        id="lname"
        placeholder="Last Name"
        formControlName="lastName"
        type="text"
        required
        autocomplete="off"
        required
      />
    </div>

    <div class="email">
      <input
        id="email"
        formControlName="email"
        type="email"
        placeholder="Email"
        autocomplete="off"
        required
      />
    </div>

    <div class="password">
      <input
        id="password"
        formControlName="password"
        type="password"
        placeholder="Password"
        required
      />
    </div>

    <p>Already have an account? <a routerLink="/login">Login</a></p>

    <button id="register-btn" type="submit">Register</button>

    <div
      *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="firstName.errors.required">First name is required.</div>
    </div>

    <div
      *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="lastName.errors.required">Last name is required.</div>
    </div>

    <div
      *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="email.errors.required">Email is required.</div>
      <div *ngIf="email.errors.email">Enter a valid email.</div>
    </div>

    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="alert alert-danger"
    >
      <div *ngIf="password.errors.required">Password is required.</div>
      <div *ngIf="password.errors.minlength">Password must be at least 6.</div>
    </div>

    <div *ngIf="serverMessage !== ''" class="alert alert-danger">
      <div>{{ serverMessage }}</div>
    </div>
  </form>
</div>
