<footer class="" style="background: #343a40; color: white; padding: 20px">
  <div>
    <a class="link" href="https://github.com/SafwanSa" target="blank">
      <img src="../../../assets/images/github.png" class="social" alt="" />
      <b>SafwanSa</b></a
    >

    <a class="link" href="https://github.com/FozanKh" target="blank">
      <img src="../../../assets/images/github.png" class="social" alt="" />
      <b>FozanKh</b></a
    >

    <p><b>&copy; Safwan Saigh & Fozan Alkhalawi, 2020</b></p>
  </div>
</footer>
<!-- Footer -->
