<footer
  class="page-footer font-small unique-color-dark"
  style="background: #343a40; color: white; padding: 50px"
>
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">
    <!-- Grid row -->
    <div class="row mt-3">
      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
        <hr
          class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
          style="width: 60px"
        />
        <p>
          Dean’s Office College of Petroleum Engineering & Geosciences
          <br /><br />
          Tel: +966 13 860 8662 Email: d-cpg@kfupm.edu.sa
        </p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <br /><br />
        <p>Department of Geosciences</p>
        <p>Tel: +966 13 860 2620 Email: c-es@kfupm.edu.sa</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <br /><br />
        <p>Department of Petroleum Engineering</p>
        <p>Tel: +966 13 860 2530 Email: c-pet@kfupm.edu.sa</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <!-- Links -->
        <br /><br />
        <p>Center for Integrative Petroleum Research</p>
        <p>Tel: +966 13 860 3888 Email: cipr@kfupm.edu.sa</p>
      </div>
      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Social Media -->
  <div class="footer-copyright text-center py-3">
    <b>&copy; Safwan Saigh & Fozan Alkhalawi, 2020</b>
    <a
      href="https://twitter.com/kfupm"
      class="fa fa-twitter fa-2x"
      id="social-link"
    ></a>
    <a
      href="https://www.instagram.com/kfupm/"
      class="fa fa-instagram fa-2x"
      id="social-link"
    ></a>
    <a
      href="https://www.facebook.com/KFUPM"
      class="fa fa-facebook fa-2x"
      id="social-link"
    ></a>
    <a
      href="https://www.linkedin.com/company/kfupm/"
      class="fa fa-linkedin fa-2x"
      id="social-link"
    ></a>
  </div>
  <!-- Social Media -->
</footer>
<!-- Footer -->
