<div class="root-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
      <div class="action">
        <button
          mat-raised-button
          style="color: white"
          [style]="
            title.invalid || description.invalid || content.invalid
              ? 'background: #lightgray; '
              : 'background: #180a1c; '
          "
          type="submit"
          [disabled]="title.invalid || description.invalid || content.invalid"
        >
          Publish
        </button>
        <button mat-raised-button class="secondary" (click)="delete()">
          {{ !!article ? "Delete" : "Discard" }}
        </button>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Select an option</mat-label>
        <mat-select formControlName="tag">
          <mat-option>None</mat-option>
          <mat-option value="Programming languages"
            >Programming languages</mat-option
          >
          <mat-option value="Frameworks">Frameworks</mat-option>
          <mat-option value="AI">AI</mat-option>
          <mat-option value="Backend">Backend</mat-option>
          <mat-option value="Frontend">Frontend</mat-option>
          <mat-option value="Other">Other</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="img-container">
        <img
          *ngIf="!!article && !!!imageUrl && !(uploadProgress$ | async)"
          [src]="article.image"
          width="400px"
          alt=""
        />
        <img
          *ngIf="!!imageUrl && !(uploadProgress$ | async)"
          [src]="imageUrl"
          width="400px"
          alt=""
        />

        <ngb-progressbar
          *ngIf="uploadProgress$ | async"
          [value]="uploadProgress$ | async"
        ></ngb-progressbar>
        <button
          class="upload-btn"
          mat-raised-button
          style="background: #f4634e; color: white"
          type="button"
          (click)="fileInput.click()"
        >
          <span>Upload an image</span>
          <input
            #fileInput
            type="file"
            (change)="onFileSelected($event)"
            style="display: none"
            name="image"
          />
        </button>
      </div>

      <div class="title">
        <mat-form-field appearance="legacy">
          <mat-label>Title</mat-label>
          <input matInput autocomplete="off" formControlName="title" required />
          <mat-error *ngIf="title.invalid">{{ getErrorMessage() }}</mat-error>
        </mat-form-field>
      </div>

      <div class="description">
        <mat-form-field appearance="legacy">
          <mat-label>Description</mat-label>
          <input
            matInput
            autocomplete="off"
            formControlName="description"
            required
          />
          <mat-error *ngIf="description.invalid">{{
            getErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
    </mat-card>

    <quill-editor
      class="editor"
      formControlName="content"
      required
    ></quill-editor>
  </form>
</div>
