<header>
  <div class="left-side">
    <a id="blog-name" href="../index.html">Ur<span>Blog</span></a>
    <nav>
      <a class="nav-option" routerLink="/articles" routerLinkActive="active"
        >Articles</a
      >
      <a class="nav-option" routerLink="/issues" routerLinkActive="active"
        >Issues</a
      >
      <a class="nav-option" routerLink="/submitIssue" routerLinkActive="active"
        >Submit an Issue</a
      >
      <a class="nav-option" routerLink="/users" routerLinkActive="active"
        >Users</a
      >
    </nav>
  </div>
  <div class="right-side" *ngIf="!user && !isProcessing">
    <a id="login" routerLink="/login">Login</a>
    <a id="register" routerLink="/register">Register</a>
  </div>

  <div class="right-side" *ngIf="user && !isProcessing">
    <a [routerLink]="['profile', user.uid]">Profile</a>
    <button class="btn btn-danger" (click)="signOut()">Logout</button>
  </div>
</header>
