<div class="dummy"></div>
<mat-toolbar>
  <a id="blog-name" routerLink="/"><span>Ur</span>Blog</a>
  <span class="spacer"></span>
  <nav>
    <div class="nav-container">
      <a class="nav-option" routerLink="/articles" routerLinkActive="active"
        >Articles
        <div class="bar"></div
      ></a>
    </div>

    <div
      *ngIf="user?.role === 'admin' || user?.role === 'staff'"
      class="nav-container"
    >
      <a class="nav-option" routerLink="/issues" routerLinkActive="active"
        >Issues
        <div class="bar"></div
      ></a>
    </div>

    <div class="nav-container">
      <a class="nav-option" routerLink="/submitIssue" routerLinkActive="active"
        >Submit an issue
        <div class="bar"></div
      ></a>
    </div>

    <div *ngIf="user?.role === 'admin'" class="nav-container">
      <a class="nav-option" routerLink="/users" routerLinkActive="active"
        >Users
        <div class="bar"></div
      ></a>
    </div>
  </nav>

  <div class="login" *ngIf="!user && !isProcessing">
    <button routerLink="/login" mat-stroked-button color="warn">Login</button>
    <button routerLink="/register" mat-raised-button class="secondary">
      Register
    </button>
  </div>

  <div class="right-side" *ngIf="user && !isProcessing">
    <div>
      <img
        class="user-photo"
        [routerLink]="['profile', user.uid]"
        [src]="!!user.photo ? user.photo : '../../../assets/images/b.jpg'"
        alt=""
      />
      <p
        style="color: white"
        [routerLink]="['profile', user.uid]"
        id="user-name"
      >
        {{ user.firstName + " " + user.lastName }}
      </p>
    </div>
    <button mat-raised-button class="secondary" (click)="signOut()">
      Logout
    </button>
  </div>
</mat-toolbar>
