.nav-option {
  margin: 0 1rem;
  font-size: small;
  color: white;
  opacity: 0.7;
  text-decoration: none;
}

.active {
  /* color: #f53476; */
  color: white;
  opacity: 1;
}

.spacer {
  flex: 1 1 auto;
}

.dummy {
  height: 64px;
}

mat-toolbar {
  box-shadow: 0px 0px 7px 0.6px black;
  z-index: 1;
  position: fixed;
  top: 0%;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.bar {
  width: 100%;
  border-bottom: 2px solid white;
  opacity: 0;
  transition: all 300ms;
}

.nav-option:hover .bar {
  opacity: 1;
}

#blog-name {
  color: white;
}

#blog-name span {
  color: #f4634e;
}

nav {
  display: flex;
  justify-items: center;
  justify-content: end;
  width: 100%;
}

.user-photo {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  margin-right: 0.5rem;
  cursor: pointer;
}

.right-side {
  display: flex;
  /* height: 100%; */
  /* width: 30%; */
  justify-content: space-between;
}

.right-side div {
  display: flex;
  /* height: 100%; */
  align-items: center;
  justify-items: center;
}

/* .right-side button {
  border-radius: 0;
  font-size: 20px;
} */

#user-name {
  font-size: 16px;
  cursor: pointer;
  margin: auto 0;
  margin-right: 1rem;
}

mat-toolbar {
  background: #180a1c;
}
