.root-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84%;
}
.card {
  margin-top: 40px;
  width: 60%;
  max-width: 500px;
  padding: 2rem;
  text-align: center;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
  width: 100%;
}

textarea {
  resize: none;
}
