@media only screen and (max-width: 400px) {
  .article-detials {
    display: flex;
    flex-direction: column;
  }
}
.card-container {
  display: flex;
}

mat-card {
  padding: 0;
  width: 330px;
  max-width: 100%;
  margin: 0.5rem 0 1rem 0rem;
  position: relative;
}

img {
  object-fit: cover;
  width: 100%;
  max-width: clac(100vw - 20px);
  height: 200px;
  border-radius: 5px 5px 0 0;
}

.s-row {
  font-size: 24px;
  font-weight: lighter;
  padding: 1rem;
  max-width: 100%;
  line-height: 2rem;
}

.t-row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.t-row .article-tag span {
  color: #f4634e;
  font-weight: 600;
}

.fo-row {
  padding-top: 0.5rem;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
}

.blogger-photo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.action-container {
  opacity: 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  background: rgb(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  transition: all 300ms;
}

.action-container button {
  margin: 1rem;
}

.bk {
  opacity: 0;
  background: white;
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0%;
  transition: all 300ms;
}

.article-description {
  max-width: 100%;
  font-size: 24px;
  font-weight: lighter;
  padding: 1rem;
  line-height: 2rem;
}

mat-card:hover .action-container {
  opacity: 1;
}

mat-card:hover .bk {
  opacity: 1;
}
