<div class="myCard">
  <img
    src="../../../assets/images/css.png"
    width="200px"
    height="auto"
    alt=""
  />
  <div>
    <p id="title">{{ article.title }}</p>
    <div class="publish-info">
      <p id="author">BY Safwan Saigh</p>
      <p id="date">{{ article.date }}</p>
    </div>
    <p id="description">{{ article.description }}</p>
  </div>

  <div class="action-card">
    <button
      mat-raised-button
      class="abtn"
      color="primary"
      [routerLink]="['/article', article.id]"
    >
      Read
    </button>
    <button
      *ngIf="isWriter"
      mat-raised-button
      class="abtn"
      color="accent"
      [routerLink]="['/editor', article.id]"
    >
      Edit
    </button>
  </div>
</div>
