<a routerLink="/editor" id="addArticle">Add Article</a>
<div class="root-container">
  <div class="config-container">
    <p id="title">Articles</p>
    <div class="sections">
      <a
        (click)="selectedTag = ''"
        [class]="selectedTag === '' ? 'active' : 'inactive'"
        >All</a
      >
      <a
        (click)="selectedTag = 'pl'"
        [class]="selectedTag === 'pl' ? 'active' : 'inactive'"
        >Programming languages</a
      >
      <a
        (click)="selectedTag = 'frameworks'"
        [class]="selectedTag === 'frameworks' ? 'active' : 'inactive'"
        >Frameworks</a
      >
      <a
        (click)="selectedTag = 'ai'"
        [class]="selectedTag === 'ai' ? 'active' : 'inactive'"
        >Artificial Intelligence</a
      >
      <a
        (click)="selectedTag = 'backend'"
        [class]="selectedTag === 'backend' ? 'active' : 'inactive'"
        >Backend</a
      >
      <a
        (click)="selectedTag = 'frontend'"
        [class]="selectedTag === 'frontend' ? 'active' : 'inactive'"
        >Frontend</a
      >
      <a
        (click)="selectedTag = 'other'"
        [class]="selectedTag === 'other' ? 'active' : 'inactive'"
        >Frontend</a
      >
    </div>

    <form [formGroup]="form">
      <input
        type="text"
        formControlName="searchText"
        placeholder="e.g. best practices"
      />
      <button (click)="onSearch()">Search</button>
    </form>
  </div>

  <div class="articles-container">
    <app-article
      *ngFor="let article of filteredArticles; let i = index"
      [article]="article"
      [isWriter]="isWriter[i]"
    ></app-article>
  </div>
</div>
