<a routerLink="/editor" id="addArticle">Add Article</a>
<div class="root-container">
  <div class="config-container">
    <p id="title">Articles</p>
    <div class="sections">
      <a href="">All</a>
      <a href="">JavaScript</a>
      <a href="">CSS</a>
      <a href="">HTML</a>
      <a href="">Bootstrap</a>
    </div>

    <form [formGroup]="form">
      <input
        type="text"
        formControlName="searchText"
        placeholder="e.g. best practices"
      />
      <button (click)="onSearch()">Search</button>
    </form>
  </div>

  <div class="articles-container">
    <app-article
      *ngFor="let article of filteredArticles; let i = index"
      [article]="article"
      [isWriter]="isWriter[i]"
    ></app-article>
  </div>
</div>
