/* #addArticle {
  position: fixed;
  top: 90%;
  left: 90%;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: large;
  background: rgb(7, 111, 209);
  color: white;
}

.root-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
}

.config-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  height: 20%;
  width: 50%;
  margin: 0 auto;
}

.config-container a {
  margin: 1rem;
  text-decoration: none;
  font-size: small;
  cursor: pointer;
}

.config-container form {
  margin: 0 auto;
  padding-top: 1.5rem;
  width: 100%;
}

.config-container form input {
  padding: 0.2rem 0.6rem;
  width: 80%;
}

.config-container form button {
  padding: 0.2rem 0.6rem;
  background: rgb(7, 111, 209);
  color: white;
}

.config-container > #title {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(100, 100, 100);
}

.articles-container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 0 auto;
  height: 80%;
  width: 50%;
}

.active {
  color: rgb(7, 111, 209);
}

.inactive {
  color: gray;
}
.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

.card-deck-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #f5f5f5;
}

.card-item {
  padding: 3px 3px 3px 3px;
} */
/* // */
.addArticle {
  position: fixed;
  top: 90vh;
  text-decoration: none;
  left: calc(100vw - 200px);
  z-index: 1;
  padding: 1rem 1rem;
  border-radius: 5px;
  /* font-size: large; */
  font-size: 20px;
  color: white;
}

.addArticle:hover {
  background: #f4634e;
  color: white;
  transition: all 300ms;
}

/* .addArticle {
  position: fixed;
  top: calc(100vh - 150px);
  left: calc(100vw - 200px);
  border-radius: 5px;
  padding: 5px 25px;
  color: #f8eef7;
  font-weight: 700;
  font-size: 20px;
  z-index: 1;
} */

.spacer {
  flex: 1 1 auto;
}

.menu-btn {
  height: 100%;
  border: 1px solid rgb(43, 43, 143);
  border-radius: 0;
}

#search {
  padding: 0.3rem;
  font-size: 18px;
}
