<a href="../editor/editor.html" id="addArticle">Add Article</a>

<div class="root-container">
  <div class="config-container">
    <p id="title">Articles</p>
    <div class="sections">
      <a href="">All</a>
      <a href="">JavaScript</a>
      <a href="">CSS</a>
      <a href="">HTML</a>
      <a href="">Bootstrap</a>
    </div>

    <form action="">
      <input type="text" placeholder="e.g. best practices" />
      <button>Search</button>
    </form>
  </div>

  <div class="articles-container">
    <div class="myCard">
      <img src="../images/css.png" width="200px" height="auto" alt="" />
      <div>
        <p id="title">How to get away with a murderer</p>
        <div class="publish-info">
          <p id="author">BY Safwan Saigh</p>
          <p id="date">September 5, 2020</p>
        </div>
        <p id="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh ante,
          ultrices aliquet neque in, mattis laoreet arcu. Aliquam vitae enim
          risus.
        </p>
      </div>
    </div>

    <a href="../article/article.html">
      <div class="myCard">
        <img src="../images/css.png" width="200px" height="auto" alt="" />
        <div>
          <p id="title">How to get away with a murderer</p>
          <div class="publish-info">
            <p id="author">BY Safwan Saigh</p>
            <p id="date">September 5, 2020</p>
          </div>
          <p id="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh
            ante, ultrices aliquet neque in, mattis laoreet arcu. Aliquam vitae
            enim risus.
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
