<a href="../editor/editor.html" id="addArticle">Add Article</a>

<div class="root-container">
  <div class="config-container">
    <p id="title">Articles</p>
    <div class="sections">
      <a href="">All</a>
      <a href="">JavaScript</a>
      <a href="">CSS</a>
      <a href="">HTML</a>
      <a href="">Bootstrap</a>
    </div>

    <form action="">
      <input type="text" placeholder="e.g. best practices" />
      <button>Search</button>
    </form>
  </div>

  <div class="articles-container">
    <app-article></app-article>

    <a href=""><app-article></app-article></a>
  </div>
</div>
