.root-container {
  height: 84%;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}

mat-card {
  width: 40%;
  height: 250px;
  margin: 0 auto;
}

mat-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-side {
  width: 30%;
  height: 100%;
  text-align: center;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: red;
  margin: 0 auto;
}

.right-side {
  height: 100%;
  width: 70%;
  padding-left: 2rem;
}

.right-side mat-form-field {
  width: 100%;
}

#title {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(100, 100, 100);
  text-align: center;
  margin: 2rem 0rem;
}

.articles {
  width: 50%;
  margin: 0 auto;
}
