.root-container {
  height: 84%;
  width: 100%;
  margin: 0 auto;
  margin-top: 3rem;
}

mat-card {
  width: 40%;
  height: 250px;
  margin: 0 auto;
}

mat-card-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.left-side {
  position: relative;
  width: 30%;
  height: 100%;
  text-align: center;
  padding-top: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-side {
  height: 100%;
  width: 70%;
  padding-left: 2rem;
}

.right-side mat-form-field {
  width: 100%;
}

#title {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(100, 100, 100);
  text-align: center;
  margin: 2rem 0rem;
}

.articles p {
  text-align: center;
}

.img {
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0 auto;
  cursor: pointer;
}

.upload-btn {
  position: absolute;
  display: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: rgb(0, 0, 0, 0.3);
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
}

/* .img:hover + .upload-btn {
  display: block;
} */
