@media only screen and (min-width: 601px) {
  .search-user-bar {
    background: #180a1c8d;
  }
}

@media only screen and (max-width: 600px) {
  .mobile {
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .col-auto {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .mb-3 {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .search-user-bar {
    background: #180a1c8d;
    display: flex;
    flex-direction: column;
    height: 160px;
    align-items: stretch;
    padding: 1rem;
  }
  .search-field {
    margin: 10px 0;
    width: 100%;
  }
  .search-button {
    width: 100%;
  }
}

.spacer {
  flex: 1 1 auto;
}

.menu-btn {
  height: 100%;
  border: 1px solid rgb(43, 43, 143);
  border-radius: 0;
}

#search {
  padding: 0.3rem;
  font-size: 18px;
}
