mat-card {
  width: 330px;
  height: 400px;
  text-align: center;
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.photo {
  width: 150px;
  border-radius: 50%;
}

.bottom {
  display: flex;
  justify-content: space-between;
  background: rgb(226, 226, 226);
  align-items: center;
  padding-top: 1rem;
  font-size: small;
}

.b-section {
  width: 30%;
}

.spacer {
  flex: 1 1 auto;
}

.top {
  margin-bottom: 20%;
}

.name {
  font-size: 25px;
  margin-top: 1rem;
}

.articles-num-title,
.user-status-title,
.last-seen-title {
  font-weight: bold;
}

.card-container {
  display: flex;
  margin-left: 20px;
}

.action-card {
  opacity: 0;
  background: rgb(255, 255, 255, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-card p {
  padding: 0rem 2rem;
}

.action-card button {
  margin: 0 1rem;
}

mat-card:hover .action-card {
  opacity: 1;
}
