.root-container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  margin-top: 1rem;
}

.root-container #title {
  font-size: 30px;
  font-weight: lighter;
  color: rgb(100, 100, 100);
  text-align: center;
}

.issues-container {
  width: 100%;
  margin-top: 2rem;
}
