/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~quill/dist/quill.core.css";
@import "~quill/dist/quill.bubble.css";
@import "~quill/dist/quill.snow.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  font-family: "Dosis";
  font-weight: 600;
  margin: 0;
  height: 100%;
}

body {
  height: 100vh;
}

* {
  font-family: "Dosis";
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.primary {
  background: #180a1c;
  color: white;
}

.secondary {
  background: #f4634e;
  color: white;
}
