<div class="root-container">
  <div class="info">
    <p id="title">How to get away with a murderer</p>
    <p id="description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nibh ante,
      ultrices aliquet neque in, mattis laoreet arcu. Aliquam vitae enim risus.
    </p>
    <div class="publish-info">
      <p id="author">Safwan Saigh</p>
      <p id="date">September 5, 2020</p>
    </div>
    <img src="../../../assets/images/css.png" alt="" />
  </div>

  <p id="content">
    All things considered, six seasons of Murder is a lot to get away with. ABC
    announced today that the Viola Davis–starring How to Get Away With Murder
    will end after its sixth season, which will premiere on September 26. The
    Shondaland series gifted the world with Davis’s intense, chalkboard-obsessed
    law professor Annalise Keating in 2014, a role she won an Emmy for in 2015.
    The final season will follow Keating’s class “through their final semester
    in law school — while the deception, fear and guilt binding Professor
    Keating to her students prove deadlier than ever.” Good luck to them all on
    getting good clerkships and partner-track positions at law firms with so
    much weighing on their minds. All things considered, six seasons of Murder
    is a lot to get away with. ABC announced today that the Viola Davis–starring
    How to Get Away With Murder will end after its sixth season, which will
    premiere on September 26. The Shondaland series gifted the world with
    Davis’s intense, chalkboard-obsessed law professor Annalise Keating in 2014,
    a role she won an Emmy for in 2015. The final season will follow Keating’s
    class “through their final semester in law school — while the deception,
    fear and guilt binding Professor Keating to her students prove deadlier than
    ever.” Good luck to them all on getting good clerkships and partner-track
    positions at law firms with so much weighing on their minds.
  </p>
</div>
