<div class="root-container">
  <div class="info">
    <p id="title">{{ article.title }}</p>
    <p id="description">{{ article.description }}</p>
    <div class="rating">
      <ngb-rating max="5" [(rate)]="article.rating" [readonly]="true">
        <ng-template let-fill="fill" let-index="index">
          <span
            class="star"
            [class.filled]="fill === 100"
            [class.bad]="index < 3"
            >&#9733;</span
          >
        </ng-template>
      </ngb-rating>

      <button mat-raised-button color="accent" (click)="rate()">Rate</button>
    </div>

    <div class="publish-info">
      <p id="author">Safwan Saigh (This should be dynamic)</p>
      <p id="date">{{ article.date }}</p>
    </div>
    <img src="../../../assets/images/css.png" alt="" />
  </div>

  <p id="content">{{ article.content }}</p>
</div>
